{% extends 'base_f.html.twig' %}
{% block content %}
<!-- Top Panel -->
<div class="top_panel_title top_panel_style_3 title_present breadcrumbs_present scheme_original">
    <div class="top_panel_title_inner top_panel_inner_style_3 title_present_inner breadcrumbs_present_inner">
        <div class="content_wrap">
            <h1 class="page_title">Seances</h1>
            <div class="breadcrumbs">
                <a class="breadcrumbs_item home" href="#">Home</a>
                <span class="breadcrumbs_delimiter"></span>
                <span class="breadcrumbs_item current">Shop</span>
            </div>
        </div>
    </div>
</div>
<!-- /Top Panel -->
    <!-- Page Content Wrap -->
    <div class="page_content_wrap page_paddings_no">
        <div class="content">
            <div class="post_item post_item_single post_featured_default post_format_standard page type-page">
                <div class="post_content">
                    <div class="margin_bottom_50_imp padding_top_60_imp padding_bottom_60_imp theme_background_1">
                        <div class="sc_content content_wrap margin_top_null margin_bottom_medium">
                            <div id="rev_slider_2_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="TC-HP-ECommerce">
    <!-- New Arrivals -->
    <div class="sc_line margin_top_medium margin_bottom_null"></div>
    <h3 class="sc_title sc_title_regular margin_top_medium margin_bottom_medium font_weight_600">Our Seances</h3>
    <div class="woocommerce columns-3">
        <ul class="products">
            <!-- Product Item -->

            <!-- /Product Item -->
            <!-- Product Item -->
            {% for seance in seances %}

            <li class="last product">
                <div class="post_item_wrap">
                    <div class="post_featured">
                        <div class="post_thumb">
                            <a class="hover_icon hover_icon_link" href="shop-product-page.html">
                                <img src="http://placehold.it/270x270" alt="product-9" />
                            </a>
                        </div>
                    </div>
                    <div class="post_content">


                        <h3>Date :{{ seance.getDate()|date('Y-m-d H:i:s') }}</h3>
                        <h3>Duration :{{ seance.getDuration() }} Hours</h3>
                        <h3>Adress :{{ seance.getAdresse() }}</h3>
                        <h3>Coach :{{ seance.getCoachName() }}</h3>


                        {% if seance.isIsAvailable() %}
                            <h3>Available</h3>
                        {% else %}
                            <h3>Not available</h3>
                        {% endif %}
                        <h3>{{ seance.getDescription() }}</h3>
                        <span class="price">
                            <span class="amount">{{ seance.getPrice() }}DT</span>
                        </span>
                        <form method="POST" action="{{ path('app_reservation_new') }}">
                            <input type="hidden" name="id" value="{{ seance.getId()}}">
                            <button class="button add_to_cart_button">{{ Participate|default('Participate') }}</button>
                        </form>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    <!-- /New Arrivals -->

    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    <!-- /Page Content Wrap -->

{% endblock %}