{% extends 'base1.html.twig' %}

{% block title %}Edit Commande{% endblock %}

{% block body %}
    <h1>Modifier Commande</h1>

    {{ form_start(form,{'attr':{'novalidate':'novalidate'}}) }}
    <table>
        <tr>
            <td> {{ form_label(form.statue,"statue") }}</td>
            <td>{{ form_widget(form.statue) }}</td>
            <td>{{ form_errors(form.statue) }}</td>
        </tr>
        <tr>
            <td> {{ form_label(form.codepromo,"codepromo") }}</td>
            <td>{{ form_widget(form.codepromo) }}</td>
            <td>{{ form_errors(form.codepromo) }}</td>
        </tr>
        <tr>
            <td> {{ form_label(form.utilisateur,"utilisateur") }}</td>
            <td>{{ form_widget(form.utilisateur) }}</td>
            <td>{{ form_errors(form.utilisateur) }}</td>
        </tr>
    </table>

    {{ include('commande/_form.html.twig', {'button_label': 'Update'}) }}
    {{ form_end(form) }}
    <a href="{{ path('app_commande_index') }}">back to list</a>

    {{ include('commande/_delete_form.html.twig') }}
{% endblock %}
